# ssh to commonly accessed servers
alias sshcs='ssh des1613@glados.cs.rit.edu'
alias sshh='ssh david@hypnotoad 2> /dev/null || ssh david@stalnaker.dyndns.org'
alias sshm='ssh david@morbo'
alias nfsn='ssh dizman101_davids@ssh.phx.nearlyfreespeech.net'
alias sshl='ssh david@david-stalnaker.com'
alias g='git'

alias gitissue='git log | head -n 6 | pbcopy'

# regex find and replace on every filename in the current directory
function renameFiles() {
	for i in *; 
		do j=`echo $i | sed "s/$1/$2/g"`; 
		mv -n "$i" "$j"; 
	done
}

# cd to the current Finder directory
function cdf()
{
	f_path=`osascript << EOS
		tell application "Finder"
			set theWindow to window 1
			set thePath to (POSIX path of (target of theWindow as alias))
			return thePath
		end tell 
		EOS`
	if [ ! -z "$f_path" ]; then
		echo "cd $f_path";
		cd "$f_path";
	fi
}
