/*
!.*

# From fry
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.Xcode
.bash_history
.bashrc
.config
.cups
.dvdcss
.fontconfig
.gdb_history
.git
.histfile
.lesshst
.smb
.sqlite_history
.subversion
.viminfo
.zcompdump
.ssh/*
!.ssh/*.pub
!.ssh/authorized_keys

# From hypnotoad
.aptitude/
.bash_logout
.cache/
.couchpotato/
.profile
.sabnzbd/
.sudo_as_admin_successful
.w3m/